spring :
  datasource :
    url : jdbc:postgresql://localhost:5432/bank
    username : user
    password : user
    driver-class-name : org.postgresql.Driver

  liquibase :
    change-log : classpath:liquibase/changelog-master.xml
