version : "3.8"

services :

  tomcat :
    image : tomcat:9-jre11
    container_name : tomcat
    environment :
      JPDA_ADDRESS : ${JPDA_ADDRESS}
      JPDA_TRANSPORT : ${JPDA_TRANSPORT}
      JAVA_OPTS : ${JAVA_OPTS}
    command : ["catalina.sh", "jpda", "run"]
    volumes :
      - ../atm/build/libs/atm.war:/usr/local/tomcat/webapps/atm.war
      - ../client-interface/build/libs/client-interface.war:/usr/local/tomcat/webapps/client-interface.war
    ports :
      - 8080:8080
      - 8100:8100
    depends_on :
      - epm-lstr-postgres

  epm-lstr-postgres :
    image : postgres
    container_name : epm-lstr-postgres
    restart : on-failure
    environment :
      POSTGRES_USER : ${POSTGRES_USER}
      POSTGRES_PASSWORD : ${POSTGRES_PASSWORD}
      POSTGRES_DB : ${POSTGRES_DB}
    ports :
      - 5333:5432

